{% extends "layout.html" %}

{% block content %}
  <div class="container mt-5">
    <h1>Admin Dashboard</h1>
    <div class="row">
      <div class="col-md-4">
        <a href="#" class="btn btn-primary btn-block">Manage Users</a>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn btn-primary btn-block">Manage Library</a>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn btn-primary btn-block">View Reports</a>
      </div>
    </div>
  </div>
{% endblock %}
